.crear-prueba-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.preguntas-container .card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botones-formulario {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 16px;
  margin-top: 5px;
}

.botones-formulario {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.input-sin-flechas::-webkit-outer-spin-button,
.input-sin-flechas::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-sin-flechas {
  -moz-appearance: textfield;

}